entity-root {
	display: block;
	position: fixed;
	--entity-rotation: 0rad;
	transform: translate(-50%, -50%) rotate(var(--entity-rotation)) scale(var(--game-scale));
	top: 50%;
	left: 50%;

	body.map-mode & {
		--game-scale: 1;
	}

	body.management-mode & {
		opacity: 0.8;
		transition: opacity 0.2s;
	}

	& entity-layer {
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		opacity: 1;
		transition: opacity 0.2s;

		& canvas {
			image-rendering: pixelated;
			position: absolute;
			width: 64px;
			height: 64px;
			transform-origin: top left;
			transform: translate(0, 0) scale(0.5);

			&.glow {
				width: 66px;
				height: 66px;
				opacity: 0.5;
				transform: translate(-0.5px, -0.5px) scale(0.5);
				filter: blur(1px);
			}
		}

		--below-op: 0.8;
		--above-op: 0.1;

		.followed & {
			body.edit-layer-0 & {
				&[data-layer='1'] {
					opacity: var(--above-op);
				}

				&[data-layer='2'] {
					opacity: var(--above-op);
				}
			}

			body.edit-layer-1 & {
				&[data-layer='0'] {
					opacity: var(--below-op);
				}

				&[data-layer='2'] {
					opacity: var(--above-op);
				}
			}

			body.edit-layer-2 & {
				&[data-layer='0'] {
					opacity: var(--below-op);
				}

				&[data-layer='1'] {
					opacity: var(--below-op);
				}
			}

			body.hide-non-selected-layers.edit-layer-0 & {
				&[data-layer='1'],
				&[data-layer='2'] {
					opacity: 0 !important;
				}
			}

			body.hide-non-selected-layers.edit-layer-1 & {
				&[data-layer='0'],
				&[data-layer='2'] {
					opacity: 0 !important;
				}
			}

			body.hide-non-selected-layers.edit-layer-2 & {
				&[data-layer='0'],
				&[data-layer='1'] {
					opacity: 0 !important;
				}
			}
		}

		body.map-mode & {
			display: none;
		}
	}

	body.map-mode &::after {
		content: 'rocket_launch';
		font-family: 'Material Symbols Outlined';
		font-size: 24px;
		color: white;
		position: absolute;
		top: 50%;
		left: 50%;
		pointer-events: none;
		text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
		transform: translate(-50%, -50%) rotate(-45deg);
	}
}

.center-of-mass {
	position: absolute;
	border-radius: 50%;
	z-index: 100;
	pointer-events: none;
	overflow: hidden;
	transform: translate(-50%, -50%) scale(calc(1 / var(--game-scale)));
	opacity: 0.8;

	& > div {
		display: flex;

		& .square {
			width: calc((10px + 1px * var(--game-scale)) / 2);
			height: calc((10px + 1px * var(--game-scale)) / 2);

			&.yellow {
				background-color: #ecc52d;
			}

			&.dark {
				background-color: #222222;
			}
		}
	}
}

body:not(.management-mode) .center-of-mass {
	display: none;
}
