* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	--ura-primary: #00eaff;
	--ura-trans: #00eaff1f;
	--pirate-primary: #ff6e00;
	--pirate-trans: #ff6e001f;

	--bg: #0f0f14cc;
	--border: #ffffff1a;

	--primary: var(--ura-primary);
	--primary-trans: var(--ura-trans);

	width: 100vw;
	height: 100vh;
	overflow: hidden;
	font-family: 'Courier New', monospace;
	background: linear-gradient(135deg, #18171e 0%, #1b1b21 100%);
	position: relative;
}

.ui {
	background: var(--bg);
	border: 1px solid var(--border);
	backdrop-filter: blur(2px);
}

game-root {
	--game-scale: 1;
	display: block;
	position: relative;
	z-index: 1;
}

.fps_counter {
	position: fixed;
	bottom: 8px;
	left: 10px;
	z-index: 1000;
	color: #fff;
	font-size: 14px;
	line-height: 1;
	pointer-events: none;
}
