tool-bar {
	position: fixed;
	bottom: 8px;
	width: 100%;
	display: flex;
	justify-content: center;
	z-index: 1000;
	gap: 8px;

	& .group {
		display: flex;
		gap: 8px;
		padding: 4px;
		border-radius: 50vh;
	}
}
