user-terminal {
	display: block;
	position: fixed;
	left: 2rem;
	top: 2rem;
	color: var(--text);
	z-index: 10000;

	& #banner {
		line-height: 1.1;
	}

	& div.line {
		line-height: 1.5em;
		height: 1.5em;

		&.error {
			color: var(--error);
		}
		&.success {
			color: var(--success);
		}
	}

	& button {
		font-size: 1rem;
		padding: 0.2rem;
		display: block;

		&::before {
			content: '> ';
			opacity: 0;
		}

		&::after {
			content: attr(data-info);
			opacity: 0;
		}

		&:not([disabled]) {
			&:focus,
			&:hover {
				&::before,
				&::after {
					opacity: 0.5;
				}
			}
		}

		&.selected {
			&::before,
			&::after {
				opacity: 0.5;
			}
		}

		&[disabled]:not(.selected) {
			opacity: 0.5;
		}
	}

	& input {
		font-size: 1rem;
		padding: 0px;
		background: transparent;
		border: none;
		outline: none;
		color: var(--primary);
	}
}
